body {
    background-color: rgb(216, 216, 216);
    color: rgb(49, 49, 49);
    min-height: 95vh;
    display: flex;
    flex-direction: column;
}

h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
}

footer {
    display: flex;
    justify-content: center;
    text-align:flex-end;
    margin-top: auto;
}

.buttonbox {
    background-color: rgb(216, 216, 216);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    margin: 20px;
    gap: 20px;
}

.btn {
    padding: 50px;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    flex-wrap: wrap;
    margin: 10px;
}

a {
    color: rgb(49, 49, 49);
    text-decoration: none;
}

.userchoiceimage {
    height: 50px;
    width: 50px;
   
}

h2 {
    display: flex;
    justify-content: space-around;
}

.score {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: auto;
    margin: 10px;
}

.pointscore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}