body {
    background-color: #4F4F4F
}

.buttonbox {
    background-color: #696969;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 20px;
    border-radius: 8px;
    gap: 50px;
    border: solid white 4px;
}

.btn {
    padding: 25px;
    padding-bottom: 40px;
    height: 50px;
    width: 200px;
    border-radius: 100px;
   
}

.scoreboard {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    margin-top: 50px;
    font-size: 20px;

}